.header {
    border-bottom: $border;

    &__container {
        @extend %header-and-footer
    }
}

.logo {
    display: flex;
    flex: 1;
    gap: 10px;

    &__img {
        max-width: 45px;
    }
}