.search {
    position: relative;
}

.search__input {
    min-width: 350px;
    padding: 8px 12px;
    border-radius: 25px;
    outline: none;
    transition: all 0.30s ease-in-out;
    border: 1px solid #DDDDDD;
}

.search__btn {
    position: absolute;
    top: 25%;
    right: 4%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: 1s;

    &:hover {
        fill: $active-color;
    }
}