$bg-color: rgb(255, 255, 255);
$font-color: rgb(0, 0, 0);
$font-size: 16px;
$active-color: rgb(255, 192, 19);
$border: solid 5px $active-color;

%header-and-footer {
    min-height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}